.home-seguros.interna {
    padding-top: 0px;
}

.seguros-vantagens {
    background-color: #000;
    padding: 60px 20px;
}

.vantagens-itens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    gap: 40px 80px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Roboto', serif;
}

.vantagens-itens h3 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.vantagens-itens p {
    color: var(--texto-cinza);
    line-height: 1.5;
}

.vantagens-itens img {
    margin-bottom: 10px;
}

.seguros-perguntas {
    margin: 120px auto;
    padding: 0 20px;
}

.seguros-perguntas h1 {
    color: #000;
    margin-bottom: 20px;
}

dl {
    color: #000;
    font-family: 'Roboto', serif;
}

dt {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}


dt::before {
    content: "";
    display: block;
    width: 12px;
    height: 8px;
    background-color: var(--detalhe-amarelo);
    position: absolute;
    left: -20px;
    top: 8px;
}

dt::after {
    content: "";
    background: url(/img/icones/seta-abrir.svg);
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 6px;
    right: 0px;
    top: 0px;
    transition: 0.3s;
}

dt:hover::after {
    transform: rotate(180deg);
}

dd {
    max-width: 80ch;
    line-height: 1.5;
}

.perguntas-lista{
    padding: 20px 20px 20px 40px;
    border-radius: 4px;
}

.perguntas-lista:nth-child(odd) {
    background-color: rgb(243, 242, 242);
}


@media (max-width: 800px) {
    .seguros-vantagens {
        padding: 0px 20px;
    }
    .seguros-perguntas {
        margin: 60px auto;
    }
}