@import "reset.css";
@import "global.css";
@import "home.css";
@import "termos.css";
@import "bicicletas.css";
@import "seguros.css";

/* HEADER */

.header-bg {
  background-color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.header-menu {
  display: flex;
  gap: 40px;
  position: relative;
  flex-wrap: wrap;
}

.header-menu a {
  font-size: 1.125rem;
  padding: 16px 0;
  position: relative;
}

.header-menu a::after {
  content:'';
  display: block;
  background-color: #fff;
  height: 2px;
  width: 0px;
  margin-top: 3px;
  position: absolute;
}

.header-menu a:hover::after {
  transition: 0.3s;
  width: 100%;
}


/* FOOTER - CONTATO */

.footer {
  background-color: #000;
}

.wrapper-contato {
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  padding-top: 60px;
  padding-left: 20px;
}

.wrapper-contato h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'roboto';
  margin-bottom: 20px;
}

.wrapper-contato .lista {
  color: var(--texto-cinza);
  font-weight: 500;
  line-height: 2;
}

.lista img {
  display: inline;
  margin: 20px 30px 0 0;
}

.lista-contato li:nth-child(even)::after {
  content: '';
  display: block;
  max-width: 350px;
  height: 2px;
  background-color: #cdc8c826;
  margin: 15px 0;
}

.lista a:hover {
  color: #fff;
}

.footer p {
  padding: 60px 0;
  color: var(--texto-cinza);
  font-weight: 500;
}


/* MEDIA */
@media (max-width: 1000px) {
  .introducao-conteudo h1, 
  .bicicletas-lista h2,
  .grid-principal h2 {
    font-size: 3rem;
  }
  .introducao-conteudo p,
  .texto-medio {
    font-size: 1.1rem;
  }

  .bicicletas-lista-itens {
    gap: 20px;
  }

  .escolha h3 {
    font-size: 1.5rem;
  }
}


@media (max-width: 800px) {

  .header a {
    margin: 0 auto;
  }
  
  .header-menu a {
    background-color: #2E2E2E;
    padding: 8px 14px;
    font-size: 1rem;
  }

  .header-menu a:after {
    display: none;
  }

  .introducao-bg {
    box-shadow: inset 0 -60px #fff;
  }

  .grid-principal {
    grid-template-columns: 1fr;
  }

  .introducao-conteudo {
    padding-bottom: 0px;
    padding-top: 20px;
  }
  
  .introducao-conteudo h1 {
    font-size: 2.5rem;
  }

  .introducao-conteudo p {
    font-size: 1rem;
  }
  .introducao-img img {
    height: 300px;
    width: 100%;
  }  

  .bicicletas-lista {
    margin-bottom: 0px;
  }

  .tecnologia {
    box-shadow: initial;
  }

  .grid-principal-col1 {
    padding: 60px 0;
  }

  .grid-principal-col2 {
    display: none;
  }

  .home-parceiros {
    margin: 60px 0;
  }

  .grid-parceiros {
    grid-template-columns: 1fr 1fr;
  }

  .grid-parceiros .borda-superior,
  .grid-parceiros .borda-inferior {
    border-right: none;
  }

  .borda-superior:nth-child(odd),
  .borda-inferior:nth-child(odd) {
    border-right: 1px solid gray;
  }

  .borda-inferior {
    border-bottom: 1px solid #cdc8c8cd;
  }

  .borda-inferior:last-child,
  .borda-inferior:nth-last-child(2) {
    border-bottom: none;
  }

  .home-depoimento {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .home-depoimento img {
    max-height: 300px;
  }

  .home-depoimento p,
  .depoimento-nome {
    padding-top: 10px;
    padding-left: 20px;
  }

  .seguros-planos {
    grid-template-columns: 1fr;
  }

  .wrapper-contato {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .wrapper-contato > img {
    display: none;
  }
  .wrapper-contato h4 {
    margin-top: 20px;
  }
  .lista-contato li:nth-child(even)::after {
    margin: 15px auto;
  }
}

@media (max-width: 600px) {
  .primaria {
    margin: 0 auto;
    padding-top: 16px;
  }

  .detalhes {
    flex-direction: column;
  }

}

@media (max-width: 520px) {

  .introducao-conteudo h1 {
    font-size: 1.5rem;
  }

  .introducao-conteudo a {
    padding: 5px 10px;
    font-size: 1rem;
  }
}
